<!DOCTYPE html>
<html>
    <head>
        <title>Store</title>
    </head>
    <body>
        <h1>Items List</h1>
        <p>{{msg}}</p>
        <form action="{{url_for('index')}}" method="POST">
            Milk (Rs. 35): <input type="text" name="milk"><br>
            Eggs (Rs. 2): <input type="text" name="eggs"><br>
            Bread (Rs. 25): <input type="text" name="bread"><br>
            <input type="submit" value="Submit">
        </form>
        <h3>{{amt}}</h3>
    </body>
</html>